// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// center all the pins
#pins {
	margin: 0 auto; 
}

//bildet eine box
.box {
	margin: 5px;
	width: 214px;
}

//Breiten Abhängig
.box img {
	width: 100%;
}